<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - The Artisan Pique</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('auth.sign_up') }}" method="POST">
            {{ signupform.username.label }}
            {{ signupform.username }}

            {{signupform.age.label}}
            {{signupform.age}}

            {{ signupform.email.label }}
            {{ signupform.email }} 

            {{ signupform.role.label }}
            {{ signupform.role }}

            {{ signupform.password.label }}
            {{ signupform.password }}

            {{ signupform.confirm_password.label }}
            {{ signupform.confirm_password }}

            {{ signupform.submit }}
            <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
        </form>
    </div>
</body>
</html>
